/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styles */
:root {
	--btn-primary: #020202;
	--bg-color: rgb(226 232 240);
}

body {
	font-family: system-ui, sans-serif;
	background-color: var(--bg-color);
}

header {
	padding: 16px;
	box-shadow: 0 3px 5px hsl(0deg, 0%, 70%);
	position: relative;
	z-index: 10;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	background-color: var(--btn-primary);
	border: none;
	color: white;
	font-weight: 600;
	padding: 10px 28px;
	border-radius: 8px;
	cursor: pointer;
}

.button--state-danger {
	background-color: red;
}

.button--state-success {
	background-color: green;
}

#new-book-dialog {
	margin: auto;
	border-radius: 12px;
	width: 350px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 8px;
}

.form__label {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 500;
	grid-column: 1 / -1;
}

.form__input:not([type="checkbox"]) {
	display: block;
	width: 100%;
	border: none;
	background-color: var(--bg-color);
	padding: 4px 12px;
	border-radius: 8px;
}

main {
	padding: 32px 16px;
	text-align: center;
}

#your-books {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	justify-content: center;
	gap: 28px;
	max-width: 1280px;
	margin: 12px auto;
}

.card {
	display: grid;
	gap: 8px;
	align-content: center;
	justify-content: center;
	background-color: white;
	height: 250px;
	border-radius: 8px;
	box-shadow: 3px 3px 3px hsl(0deg, 0%, 70%);
}

.card__title {
	font-size: 1.25rem;
}

.card__text--italic {
	font-style: italic;
}

.card__button {
	width: 160px;
}
